<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SysWatchTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SysWatchTester.Properties.Settings>
            <setting name="SysWatchTester_DevSysWatch2_XmlService" serializeAs="String">
                <value>https://devsyswatch.titleedge.com/XmlService.asmx</value>
            </setting>
            <setting name="SysWatchTester_QASysWatch2_XmlService" serializeAs="String">
                <value>https://qasyswatch.titleedge.com/XmlService.asmx</value>
            </setting>
            <setting name="SysWatchTester_TestSysWatch2_XmlService" serializeAs="String">
                <value>https://testsyswatch.titleedge.com/XmlService.asmx</value>
            </setting>
            <setting name="SysWatchTester_UATSysWatch2_XmlService" serializeAs="String">
                <value>https://uatsyswatch.titleedge.com/XmlService.asmx</value>
            </setting>
            <setting name="SysWatchTester_ProdSysWatch2_XmlService" serializeAs="String">
                <value>https://syswatch.titleedge.com/XmlService.asmx</value>
            </setting>
        </SysWatchTester.Properties.Settings>
    </applicationSettings>
</configuration>